body{
  background-color: black;
}
.grid{
  width: 400px;
  height: 600px;
  background-color: white;
  position: relative;
  font-size: 210px;
  text-align: center;
}

.doodler{
  width: 60px;
  height: 85px;
  background-color: black;
  position: absolute;
}

.platform{
  width: 85px;
  height: 15px;
  background-color: black;
  position: absolute;
}

.start-game{
float:right;
}

h1{
  color: white;
}

.a{
  padding-top:8%;
}
